<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RollingFile name="File" fileName="D:\SeleniumWorkspace\Log4JFileRShetty/LogFolder/prints.log"
			filePattern="D:\SeleniumWorkspace\Log4JFileRShetty/LogFolder/prints-%d{yyyy-MM-dd-HH-mm-ss}.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="800 kb" />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="AlphaPackage.Log4JExample" level="error"
			additivity="false">
			<AppenderRef ref="File" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>