<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Pratice One Suite">

<parameter name = "URL" value = "www.cogitate.us"/>
<parameter name = "USERNAME" value = "GANESH0080"/>
<parameter name = "PASSWORD" value = "Salunkhe@9797"/>
<parameter name = "COMMONURL" value = "testing.com.net"/>
	
	<!-- Executing all the methods which is under the SampleOne & SampleFive -->
	<test name="Testeu">
		<classes>
			<class name="TestNGPractice.SampleOne" />
			<class name="TestNGPractice.SampleFive" />
		</classes>
	</test>

	<!-- Excluding specific method which is under the SampleTwo & SampleThree -->
	<test name="Testing">
		<classes>
			<class name="TestNGPractice.SampleTwo">
				<methods>
					<exclude name="salunkhe" />
				</methods>
			</class>
			<class name="TestNGPractice.SampleThree">
				<methods>
					<exclude name="shriganesh" />
				</methods>
			</class>
		</classes>
	</test>

	<!-- Excluding the complete classes using ClassTest1 / ClassTest2 group 
		name -->
	<test name="Testagain">
		<groups>
			<run>
				<exclude name="ClassTest1" />
				<exclude name="ClassTest2" />
			</run>
		</groups>
	</test>


	<!-- Executing only specific method using INCLUDE Tag -->
	<test name="TestWithInclude">
		<classes>
			<class name="TestNGPractice.SampleThree">
				<methods>
					<include name="super11" />
				</methods>
			</class>
		</classes>
	</test>

	<!-- Executing only specific method using INCLUDE Tag and regular expression 
		startwith Super -->
	<test name="TestRegularExpression">
		<classes>
			<class name="TestNGPractice.SampleThree">
				<methods>
					<include name="super.*" />
				</methods>
			</class>
		</classes>
	</test>

	<!-- Executing only specific method using INCLUDE Tag and regular expression 
		EndWith Super -->
	<test name="TestStartRegExp">
		<classes>
			<class name="TestNGPractice.SampleFour">
				<methods>
					<include name=".*shivshambho" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
